.flex-container{
    padding: 10px;
}
.flex-container div{
    display:table-cell;
    padding-right: 10px;
}
.logInName {
    margin-top: 20px;
}
.logInName div{
    display:table-cell;
    padding-right: 10px;
}
.logInName a{
    font-size: 25px;
}
#btnLogin{
    width: 100px;
    margin-right: 40px;
    background-color: rgb(19, 143, 29);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 200px;  
}
#btnLogin:hover{
    background-color: rgb(69, 180, 84);
    color: black;
}


#btnLogOut{
    width: 100px;
    margin-right: 40px;
    background-color: rgb(233, 97, 97);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 200px;
}
#btnLogOut:hover{
    background-color: rgb(255, 0, 0);
    width: 90px;
    margin-right: 50px;
}
a{
    margin-right: 30px;
    font-family: sans-serif;
}
#icon{
    height: 50px;
    width: 200px;
    margin: 7px;
}
#space{
    width: 80%;
}
#big{
    background-color:rgb(85, 221, 108);
    height: 60px;
    margin-top: -10px;
    width: 100%;
    display: inline-flex;
    float: right;
    justify-content: flex-start;
}
#bigd{
    background-color:rgb(85, 221, 108);
    height: 60px;
    margin-top: -20px;
    width: 100%;
    display: inline-flex;
    float: right;
    justify-content: flex-start;
}
#divRegister{
    margin-top: 17px;
    padding: 10px;
}
#big2{
    height: 400px;
    margin: 20px;
    background-image: url("photo/bg.jpg");
    background-size: 100% 400px;
}
#divSearch{
    background-color: rgb(196, 241, 255);
    margin: 30px 30px;
    display: inline-flex;
    padding: 20px;
    height: 200px;
    width: 1000px;
}
#divSearch th,td{
    border: 0px;
    border-style: none;
}
p{
    margin: 5px;
}
#register{
    margin-left: -50px;
    width: 100px;
    margin-right: 40px;
    background-color: rgb(53, 56, 235);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 200px;
}
#register:hover{
    background-color: rgb(38, 0, 128);
}
#searchName{
    height: 15px;
    margin-top: 50px;
}
#search{
    margin-left: 20px;
    height: 50px;
    width: 50px;
}
#search:hover{
    background-color: rgb(214, 213, 213);
}
th,td{
    padding-top: 20px;
}

img {
    height: 250px;
    width: 250px;
}
#form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 10px;
    background-color: rgb(228, 190, 233);
}
#formId{
    font-family: sans-serif;
}
.formRes{
    font-size: 30px;
}
#ageRes{
    width: 50px;
}
#emailRes{
    width: 300px;
}

#signup{
        padding: 5px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        margin: 15px 0px 10px 15px;
}
#close{
    float: right;
    background-image: url("photo/close.png");
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}
#first{
    width: 100%;
}
#first div{
    display: inline-block;
    margin: 20px;
}
#menuBar{
    margin: 20px;
    margin-left: -0px;
    background-color: rgb(84, 134, 228);
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: space-around;
}
.menuBtn{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background: none;
    border:0px;
}
.menuBtn:hover{
    background: blue;
    border: 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(60, 198, 240);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a:hover {
      background-color: rgb(24, 24, 201);
      color: white;
}
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px;
    background-color: rgb(209, 201, 207);
}

.form-container input[type=text], .form-container input[type=password] {
    width: 85%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-popup {
    max-width: 400px;
    border: 3px solid #f1f1f1;
}
#formRes th{
float: left;
font-size: 20px;
font-family: sans-serif;
}
#ageRes{
    width: 30px;
}
#emailRes{
    width: 250px;
}
#profileJust{
    display: inline-flex;
}
.profileMananger1{
    margin-left: 200px;
    background-color: rgb(194, 192, 192);
}
.profileMananger{
    margin-left: 200px;
    background-color: rgb(208, 208, 250);
}
.vl {
    margin-left: 200px;
    border-left: 6px solid green;
    height: 500px;
  }